@charset "UTF-8"; /* Definindo padrão de caractere utilizado */

/* Zerando possíveis margens indeseijadas*/
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Configuração da Paleta de cores e familia de fonte */
:root {
    --Preto: #101204;
    --PretoComOpacidade: #10120488;
    --Cinza: #22272B;
    --CInzaClaro: #373f46;
    --CinzaClarinho: #9EACBA;
    --CorDoTexto: white;
    --CorDoTextoHover: rgb(228, 228, 228);
    --FontePadrao: Arial;
}





/* Exibe as bordas imaginarias do elemento */
.showborder {
    box-sizing: border-box;
    border: solid cyan 2px;
}





/* Estilo do fundo */
main {
    background-color: var(--CInzaClaro);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* Div principal com todas as outras */
.BoardsContainer {
    width: 90%;
    min-height: 20vh;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilo da caixa do quadro */
.BoardDiv {
    width: 20vw;
    height: 15vh;
    border-radius: 20px;
    border: solid 0.2vw var(--Preto);
    position: relative;
    margin-left: 1vw;
    margin-top: 1vh;
    transition-duration: 0.2s;
    cursor: pointer;
}

/* Nome dentro da caixa do quadro */
.BoardName {
    color: white;
    font-family: var(--FontePadrao);
    font-weight: bold;
    font-size: 1.1vw;
    background-color: var(--PretoComOpacidade);
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}





/* Botão de criar novo quadro */
.fixedbtncreateboard {
    color: white;
    font-weight: bold;
    font-family: var(--FontePadrao);
    position: absolute;
    top: 15%;
    border: solid 1px white;
    padding: 1%;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.fixedbtncreateboard:hover {
    background-color: var(--CinzaClarinho);
    color: black;
}





/* Tela de criação de um novo quadro */
.BoardCreationTab {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 20px;
    background-color: var(--CinzaClarinho);
}

/* Div de posição relative que mantem o conteúdo da janela fixo */
.BoardCreationTabContentHolder {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Título dentro da janela de criação de novo quadro */
.BoardCreationTabText {
    color: black;
    font-family: var(--FontePadrao);
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
}

/* Divs com os inputs da janela */
.BoardCreationTabInputBoxOne {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
.BoardCreationTabInputBoxTwo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

/* Inputs */
.BoardCreationTabInputBoxOne > input, .BoardCreationTabInputBoxTwo > input {
    width: 100%;
    line-height: 4vh;
    color: white;
    background-color: var(--Cinza);
    font-size: 2vh;
    font-weight: bold;
    text-indent: 2vw;
    cursor: text;
    border-radius: 20px;
}

/* Botões de ação da janela de criação de novo quadro */
.BoardCreationTabFlexBtnHolder {
    display: flex;
    width: 80%;
    height: 7%;
    position: fixed;
    top: 75%;
    left: 10%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.BoardCreationTabFlexAccept, .BoardCreationTabFlexReject {
    cursor: pointer;
    background-color: var(--Preto);
    padding: 2%;
    width: 40%;
    transition-duration: 0.3s;
}

.BoardCreationTabFlexAccept:hover {
    background-color: green;
}
.BoardCreationTabFlexReject:hover {
    background-color: red;
}

.GenericBtnText, .genericerrortext {
    font-family: var(--FontePadrao);
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Mensagens de erro */
#boardcreationtaberror1 {
    background-color: red;
    position: absolute;
    top: 31%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    height: 4%;
    display: none;
    align-items: center;
    justify-content: center;
}

#boardcreationtaberror2 {
    background-color: red;
    position: absolute;
    top: 51%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    height: 4%;
    display: none;
    align-items: center;
    justify-content: center;
}