/* Reset Padrão inicial */
@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Configuração da Paleta de cores */
:root {
    --Preto: #101204;
    --Cinza: #22272B;
    --CInzaClaro: #373f46;
    --CinzaClarinho: #9EACBA;
    --CorDoTexto: white;
    --CorDoTextoHover: rgb(228, 228, 228);
    --FontePadrao: Arial;
}

/* Paleta de Cores das Etiquetas */
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

/* Classes para teste e desenvolvimento */
.showborder {
    box-sizing: border-box;
    border: solid cyan 2px;
}

/* Classes utilizadas durante o uso*/
.Hide {
    display: none;
}
.UnderDrag {
    transform: rotate(-5deg);
}

/* Estilização básica */
main {
    background-color: #263246;
    width: 100vw;
    height: 100vh;
}

/* Adaptação para Celulares */
@media (max-width: 1023px){
    
}

/* Adaptação para Notebooks pequenos e Tablets*/
@media (min-width: 1024px){
    
}

/* Adaptação para Computadores */
@media (min-width: 1440px){

    /* Estilização do Menu do Topo */
    nav.TopMenuBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5vh;
        background-color: var(--Preto);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        z-index: 9;
    }

    p.TopMenuTrelloName {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: bolder;
        font-size: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    p.TopMenuTrelloName:hover {
        color: var(--CorDoTextoHover);
    }
    p.TopMenuOption {
        color: var(--CorDoTexto);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 2vh;
        cursor: pointer;
        padding: 1vh;
        transition-duration: 0.2;
    }
    p.TopMenuOption:hover {
        color: var(--CorDoTextoHover);
        background-color: var(--Cinza);
    }

    /* Estilização do Menu da Lateral*/
    .SideMenuDiv {
        background-color: var(--Preto);
        position: absolute;
        top: 5vh;
        left: -14vw;
        width: 15vw;
        height: 95vh;
        transition-duration: 0.5s;
    }
    #SideMenuCheckbox:checked ~ .SideMenuDiv {
        left: 0vw;
    }
    #SideMenuCheckbox:checked ~ .BoardRelatedMenuDiv {
        left: 15vw;
        width: 85vw;
    }
    #SideMenuCheckbox:checked ~ .MainDivListsHolder {
        left: 15vw;
        width: 85vw;
    }

    .SideMenuTopTitle {
        margin-top: 5vh;
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-size: 3vh;
        text-align: center;
    }

    .SideMenuUnorderedList {
        margin-top: 5vh;
        text-align: center;
    }

    .SideMenuOption {
        color: var(--CorDoTexto);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 2vh;
    }

    .SideMenuOptionContentHolder {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 70%;
        padding: 1vh;
        margin: auto;
        cursor: pointer;
    }
    .SideMenuOptionContentHolder:hover {
        background-color: var(--Cinza);
    }

    .SideMenuOptionContentHolderImage {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .SideMenuOptionContentHolderText {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SideMenuSection2PresentingText {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: bold;
        text-align: center;
        margin-top: 5vh;
        font-size: 2vh;
    }

    /* Estilização do Menu Relacionado ao Quadro */
    .BoardRelatedMenuDiv {
        height: 5vh;
        width: 99vw;
        position: absolute;
        top: 5vh;
        left: 1vw;
        transition-duration: 0.5s;
        background-color: var(--Cinza);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .RelatedMenuBoardName {
        color: var(--CorDoTexto);
        font-size: 3vh;
        font-family: var(--FontePadrao);
        font-weight: bold;
        margin-left: 1vw;
    }

    /* Area principal com as listas */
    .MainDivListsHolder {
        width: 99vw;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: 1vw;
        transition-duration: 0.5s;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }

    .ListsSeparation {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .List {
        background-color: var(--Preto);
        min-height: 10vh;
        width: 15vw;
        margin-top: 2vh;
        margin-left: 1vw;
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        cursor: pointer;
        padding-bottom: 2vh;
    }

    .ListNameText {
        color: var(--CorDoTexto);
        width: 90%;
        margin-left: 5%;
        font-family: var(--FontePadrao);
        font-weight: bold;
        font-size: 2vh;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* Estilização dos Cartões */
    .Card {
        background-color: var(--CInzaClaro);
        position: relative;
        width: 90%;
        min-height: 5vh;
        margin: auto;
        margin-bottom: 1vh;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 1vh;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .CardImage {
        position: relative;
        width: 100%;
    }
    .CardImage > img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .Label {
        min-width: 20%;
        max-width: 90%;
        min-height: 5%;
        border-radius: 10px;
        margin-top: 3%;
        margin-left: 3%;
        padding: 2% 3% 2% 3%;
        overflow: hidden;
    }
    .Label:hover {
        opacity: 80%;
    }
    .LabelText {
        color: var(--CorDoTexto);
        font-weight: normal;
        font-family: var(--FontePadrao);
        text-align: center;
    }

    .CardName {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: normal;
        width: 90%;
        margin-top: 1vh;
        margin-left: 3%;
        overflow: hidden;
    }

    /* Botão após as listas para adicionar lista */
    .AfterListsDiv {
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: var(--CInzaClaro);
        padding: 1vh;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: rgba(255, 255, 255, 0.100) 2px 2px 40px;
        transition-duration: 0.5s;
    }
    .AfterListsDiv:hover {
        background-color: var(--CinzaClarinho);
    }
    .AfterListsDiv:hover > .BoardAddListButton > .AddListButtonText > p {
        color: var(--Preto);
    }

    .BoardAddListButton {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 15vw;
        max-height: 8vh;
    }
    .AddListButtonText {
        width: 55%;
    }
    .AddListButtonIcon {
        position: relative;
        width: 10%;
    }

    .AddListButtonText > p {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
        transition-duration: 0.5s;
    }
    .AddListButtonIcon > img {
        width: 100%;
    }
}

/* Adaptação para telas muito grandes */
@media (min-width: 2160px){

}

/*

                <!--Lista-->
                <div class="List">
                    <!--Nome da Lista-->
                    <p class="ListNameText">Nome da Lista</p>

                    <!--Cartão-->
                    <div class="Card">
                        <!--Capa-->
                        <div class="CardImage">
                            <img src="../IMAGE/ThumbTest.png" alt="CardImage">
                        </div>
                        <!--Etiqueta-->
                        <div class="Label orange" onclick="ChangeListPresentingMode()">
                            <p class="LabelText" id="Label1">Etiqueta</p>
                        </div>
                        <!--Nome do Cartão-->
                        <p class="CardName">Nome do Cartão</p>
                    </div>

                </div>

*/