@charset "UTF-8"; /* Definindo padrão de caractere utilizado */

/* Zerando possíveis margens indeseijadas*/
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Configuração da Paleta de cores e familia de fonte */
:root {
    --Preto: #101204;
    --PretoComOpacidade: #10120488;
    --Cinza: #22272B;
    --CInzaClaro: #373f46;
    --CinzaClarinho: #9EACBA;
    --CorDoTexto: white;
    --CorDoTextoHover: rgb(228, 228, 228);
    --FontePadrao: Arial;
}

/* Paleta de Cores das Etiquetas */
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.cyan {
    background-color: cyan;
}
.black {
    background-color: black;
}





/* Exibe as bordas imaginarias do elemento */
.showborder {
    box-sizing: border-box;
    border: solid cyan 2px;
}





/* Torna o elemento invisível */
.Hide {
    display: none;
}

/* Estado temporario aplicado a itens enquanto são arrastados */
.UnderDrag {
    transform: rotate(-5deg);
}





/* Animações e estilos reutilizáveis */
.AcceptOption:hover {
    background-color: rgba(2, 197, 2, 0.2);
}
.RejectOption:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.AcceptOptionText {
    color: white;
    font-family: var(--FontePadrao);
    font-weight: normal;
    text-align: center;
}
.RejectOptionText {
    color: white;
    font-family: var(--FontePadrao);
    font-weight: normal;
    text-align: center;
}





/* Estilo inicial do fundo */
main {
    background-color: #192d4e;
    width: 100vw;
    height: 100vh;
}





/* Adaptação para Celulares */
@media (max-width: 1023px){
    
}





/* Adaptação para Notebooks pequenos e Tablets*/
@media (min-width: 1024px){
    
}





/* Adaptação para Computadores */
@media (min-width: 1440px){

    /* Barra preta do topo do menu */
    nav.TopMenuBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5vh;
        background-color: var(--Preto);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        z-index: 9;
    }

    /* Nome TRELLO no menu em cima */
    p.TopMenuTrelloName {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: bolder;
        font-size: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    p.TopMenuTrelloName:hover {
        color: var(--CorDoTextoHover);
    }

    /* Opções na barra preta do topo no menu */
    p.TopMenuOption {
        color: var(--CorDoTexto);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 2vh;
        cursor: pointer;
        padding: 1vh;
        transition-duration: 0.2;
    }
    p.TopMenuOption:hover {
        color: var(--CorDoTextoHover);
        background-color: var(--Cinza);
    }





    /* Menu rolante lateral */
    .SideMenuDiv {
        background-color: var(--Preto);
        position: absolute;
        top: 5vh;
        left: -14vw;
        width: 15vw;
        height: 95vh;
        transition-duration: 0.5s;
    }
    #SideMenuCheckbox:checked ~ .SideMenuDiv {
        left: 0vw;
    }
    #SideMenuCheckbox:checked ~ .BoardRelatedMenuDiv {
        left: 15vw;
        width: 85vw;
    }
    #SideMenuCheckbox:checked ~ .MainDivListsHolder {
        left: 15vw;
        width: 85vw;
    }

    /* Título no menu rolante lateral */
    .SideMenuTopTitle {
        margin-top: 5vh;
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-size: 3vh;
        text-align: center;
    }

    /* Estilização da lista no menu lateral */
    .SideMenuUnorderedList {
        margin-top: 5vh;
        text-align: center;
    }

    /* Opções presentes no menu lateral */
    .SideMenuOption {
        color: var(--CorDoTexto);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 2vh;
    }

    /* Div que contem o texto e icone de cada opção no menu lateral */
    .SideMenuOptionContentHolder {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 70%;
        padding: 1vh;
        margin: auto;
        cursor: pointer;
    }
    .SideMenuOptionContentHolder:hover {
        background-color: var(--Cinza);
    }

    /* Div que contem a imagem icone da opção no menu lateral */
    .SideMenuOptionContentHolderImage {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Div que contem o texto da opção no menu lateral */
    .SideMenuOptionContentHolderText {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Texto título da seção 2 no menu lateral */
    .SideMenuSection2PresentingText {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: bold;
        text-align: center;
        margin-top: 5vh;
        font-size: 2vh;
    }





    /* Estilização do menu secundario relacionado ao quadro */
    .BoardRelatedMenuDiv {
        height: 5vh;
        width: 99vw;
        position: absolute;
        top: 5vh;
        left: 1vw;
        transition-duration: 0.5s;
        background-color: var(--Cinza);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    .RelatedMenuBoardName {
        color: var(--CorDoTexto);
        font-size: 3vh;
        font-family: var(--FontePadrao);
        font-weight: bold;
        margin-left: 1vw;
    }





    /* Div que mantem todo o conteúdo principal exibido */
    .MainDivListsHolder {
        width: 99vw;
        height: 90vh;
        position: absolute;
        top: 10vh;
        left: 1vw;
        transition-duration: 0.5s;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }

    /* Div dinamica que mantem as listas existentes carregadas */
    .ListsSeparation {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    /* Estilização padrão de uma lista carregada */
    .List {
        background-color: var(--Preto);
        min-height: 10vh;
        width: 15vw;
        margin-top: 2vh;
        margin-left: 1vw;
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        cursor: pointer;
        padding-bottom: 2vh;
    }
    .ListNameText {
        color: var(--CorDoTexto);
        width: 90%;
        margin-left: 5%;
        font-family: var(--FontePadrao);
        font-weight: bold;
        font-size: 2vh;
        margin-top: 5%;
        margin-bottom: 5%;
    }





    /* Estilização padrão de um cartão */
    .Card {
        background-color: var(--CInzaClaro);
        position: relative;
        width: 90%;
        min-height: 5vh;
        margin: auto;
        margin-bottom: 1vh;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 1vh;
        flex-wrap: wrap;
        flex-direction: row;
    }

    /* Estilização de imagens dentro de um cartão */
    .CardImage {
        position: relative;
        width: 100%;
    }
    .CardImage > img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* Estilização das etiquetas e seus textos dentro de um cartão */
    .Label {
        min-width: 20%;
        max-width: 90%;
        min-height: 5%;
        border-radius: 10px;
        margin-top: 3%;
        margin-left: 3%;
        padding: 2% 3% 2% 3%;
        overflow: hidden;
    }
    .Label:hover {
        opacity: 80%;
    }
    .LabelText {
        color: var(--CorDoTexto);
        font-weight: normal;
        font-family: var(--FontePadrao);
        text-align: center;
    }

    /* Estilização do nome do cartão */
    .CardName {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-weight: normal;
        width: 90%;
        margin-top: 1vh;
        margin-left: 3%;
        overflow: hidden;
    }





    /* Div fixa após as listas carregadas existentes e antes do botão de adicionar lista*/
    .AfterListsDiv {
        margin-top: 0vh;
        margin-left: 0vw;
        padding: 0vh;
        transition-duration: 0.5s;
    }

    /* Janela de criação de lista */
    .ListCreationTab {
        background-color: var(--PretoComOpacidade);
        min-height: 10vh;
        width: 15vw;
        margin-top: 2vh;
        margin-left: 1vw;
        border-radius: 20px;
        position: relative;
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        cursor: default;
        padding-bottom: 2vh;
        border: solid 0.2vw var(--Preto);
    }
    .ListCreationTabTitle {
        width: 90%;
        margin: auto;
        text-align: center;
        font-family: var(--FontePadrao);
        color: var(--CorDoTexto);
        font-size: 1.8vh;
        font-weight: bold;
        margin-top: 2vh;
    }

    /* Input presente na janela de criação da lista */
    .ListCreationTabInputHolder {
        width: 90%;
        margin: auto;
        margin-top: 2vh;
    }
    .ListCreationTabInputHolder > input {
        width: 100%;
        line-height: 3vh;
        background-color: var(--Preto);
        color: var(--CorDoTexto);
        text-align: left;
        text-indent: 1vw;
        cursor: text;
        border-radius: 20px;
    }

    /* Opções da criação de lista no fim da janela */
    .ListCreationTabFlexMenu {
        width: 90%;
        margin: auto;
        min-height: 4vh;
        margin-top: 1vh;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .ListCreationTabOption {
        width: 49%;
        height: 4vh;
        border-radius: 20px;
        background-color: var(--CInzaClaro);
        cursor: pointer;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }





    /* Div com o botao de adicionar lista ao final de todas as listas existentes */
    .AfterListsDivBTN {
        margin-top: 2vh;
        margin-left: 1vw;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1vh;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: rgba(255, 255, 255, 0.1) 2px 2px 40px;
        transition-duration: 0.5s;
    }
    .AfterListsDivBTN:hover {
        background-color: var(--CinzaClarinho);
    }
    .AfterListsDivBTN:hover > .BoardAddListButton > .AddListButtonText > p {
        color: var(--Preto);
    }

    /* Estilização do botão de adicionar lista ao final das listas carregadas */
    .BoardAddListButton {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 15vw;
        max-height: 8vh;
    }
    .AddListButtonText {
        width: 55%;
    }
    .AddListButtonIcon {
        position: relative;
        width: 10%;
    }
    .AddListButtonText > p {
        color: var(--CorDoTexto);
        font-family: var(--FontePadrao);
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
        transition-duration: 0.5s;
    }
    .AddListButtonIcon > img {
        width: 100%;
    }
}





/* Adaptação para telas muito grandes */
@media (min-width: 2160px){

}

/*

                <!--Lista-->
                <div class="List">
                    <!--Nome da Lista-->
                    <p class="ListNameText">Nome da Lista</p>

                    <!--Cartão-->
                    <div class="Card">
                        <!--Capa-->
                        <div class="CardImage">
                            <img src="../IMAGE/ThumbTest.png" alt="CardImage">
                        </div>
                        <!--Etiqueta-->
                        <div class="Label orange" onclick="ChangeListPresentingMode()">
                            <p class="LabelText" id="Label1">Etiqueta</p>
                        </div>
                        <!--Nome do Cartão-->
                        <p class="CardName">Nome do Cartão</p>
                    </div>

                </div>

*/