/* Configuração da Paleta de cores e familia de fonte */
:root {
    --Preto: #101204;
    --PretoComOpacidade: #10120488;
    --Cinza: #22272B;
    --CInzaClaro: #373f46;
    --CinzaClarinho: #9EACBA;
    --CorDoTexto: white;
    --CorDoTextoHover: rgb(228, 228, 228);
    --FontePadrao: Arial;
}