/* Estilização do Input */
.ListExternalRenamingInput {
    position: absolute;
    display: initial;
    top: 10%;
    left: 5%;
    width: 70%;
    border-radius: 10px;
    color: var(--CorDoTexto);
    background-color: var(--Preto);
    border: solid 1px var(--CorDoTexto);
    line-height: 200%;
}