/* Estilização padrão de uma lista carregada */
.List {
    background-color: var(--pretoForte);
    min-height: 10vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 2vh;
}
.ListNameText {
    color: var(--textoCinza);
    width: 70%;
    margin-left: 5%;
    font-family: var(--fontePadrao);
    font-weight: bold;
    font-size: 2vh;
    margin-top: 5%;
    margin-bottom: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 70%;
}

/* Botão de 3 pontos da lista */
.FixedListTreePointBTN {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 10%;
    border-radius: 50%;
    background-color: var(--pretoEscurecido);
    transition-duration: 0.3s;
}
.FixedListTreePointBTN:hover {
    background-color: var(--pretoPadrao);
}
.FixedListTreePointBTN > img {
    width: 100%;
}

/* Input de renomeação da lista */
.ListExternalRenamingInput {
    position: absolute;
    display: none;
    top: 10%;
    left: 5%;
    width: 70%;
    border-radius: 10px;
    color: var(--textoBranco);
    text-indent: 5%;
    background-color: var(--pretoPadrao);
    border: solid 1px var(--textoCinza);
    line-height: 200%;
}