/* Menu rolante lateral */
.SideMenuDiv {
    background-color: var(--pretoEscurecido);
    position: absolute;
    top: 5vh;
    left: -14vw;
    width: 15vw;
    height: 95vh;
    transition-duration: 0.5s;
}
#SideMenuCheckbox:checked ~ .SideMenuDiv {
    left: 0vw;
}
#SideMenuCheckbox:checked ~ .BoardRelatedMenuDiv {
    left: 15vw;
    width: 85vw;
}
#SideMenuCheckbox:checked ~ .MainDivListsHolder {
    left: 15vw;
    width: 85vw;
}

/* Título no menu rolante lateral */
.SideMenuTopTitle {
    margin-top: 5vh;
    color: var(--textoCinza);
    font-family: var(--fontePadrao);
    font-size: 3vh;
    text-align: center;
}

/* Estilização da lista no menu lateral */
.SideMenuUnorderedList {
    margin-top: 5vh;
    text-align: center;
}

/* Opções presentes no menu lateral */
.SideMenuOption {
    color: var(--textoCinza);
    font-family: var(--fontePadrao);
    font-weight: normal;
    font-size: 2vh;
}

/* Div que contem o texto e icone de cada opção no menu lateral */
.SideMenuOptionContentHolder {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 70%;
    padding: 1vh;
    margin: auto;
    cursor: pointer;
}
.SideMenuOptionContentHolder:hover {
    background-color: var(--cinzaMedio);
}
.quadroselecionado {
    background-color: var(--cinzaClaro);
}

/* Div que contem a imagem icone da opção no menu lateral */
.SideMenuOptionContentHolderImage {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Div que contem o texto da opção no menu lateral */
.SideMenuOptionContentHolderText {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texto título da seção 2 no menu lateral */
.SideMenuSection2PresentingText {
    color: var(--textoCinza);
    font-family: var(--fontePadrao);
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    font-size: 2vh;
}